.blue {
    background-color: #4287f5;
}

.yellow {
    background-color: #f5e342;
}

.red {
    background-color: #c71e1e;
}

.green {
    background-color: #1ec759;
}

.orange {
    background-color: #db7b04;
}

.grey {
    background-color: #8f9093;
}

