.MuiPaper-root {
    background-color: #e3001b !important;
    color: #ffff !important;
}

.MuiSvgIcon-root{
    color: #ffff !important;
}

 .MuiAppBar-colorPrimary {
    background-color: #e3001b !important;
}

.MuiAppBar-colorPrimary {
    background-color: #e3001b !important;
}

